---
title: Home
---
{{!pager pages 'pager-justified'}}

{{!pager pagination ""}}


<!-- Post -->
<article class="post post-item">
  <a class="pull-right" href="#">
    <img class="post-object" data-src="{{assets}}/js/holder.js/72x72" alt="Generic placeholder image" src="data:image/png;base64,">
  </a>
  <div class="post-body">
    <a href="#"><h2 class="post-heading">Post heading</h2></a>
    {{lorem ipsum.sentence}}
  </div>
  <div class="post-footer">
    <a class="text-muted" href="#">Read more</a>
  </div>
</article>

<!-- Post -->
<article class="post post-item">
  <a class="pull-right" href="#">
    <img class="post-object" data-src="{{assets}}/js/holder.js/72x72" alt="Generic placeholder image" src="data:image/png;base64,">
  </a>
  <div class="post-body">
    <a href="#"><h2 class="post-heading">Post heading</h2></a>
    {{lorem ipsum.sentence}}
  </div>
  <div class="post-footer">
    <a class="text-muted" href="#">Read more</a>
  </div>
</article>

<!-- Post -->
<article class="post post-item">
  <a class="pull-right" href="#">
    <img class="post-object" data-src="{{assets}}/js/holder.js/72x72" alt="Generic placeholder image" src="data:image/png;base64,">
  </a>
  <div class="post-body">
    <a href="#"><h2 class="post-heading">Post heading</h2></a>
    {{lorem ipsum.sentence}}
  </div>
  <div class="post-footer">
    <a class="text-muted" href="#">Read more</a>
  </div>
</article>


<!-- Pager -->
<ul class="pager">
  <li class="pager-heading">LATEST</li>
  <li class="next"><a href="#">More &rarr;</a></li>
</ul>

<!-- Post -->
<article class="post post-item">
  <a class="pull-right" href="#">
    <img class="post-object" data-src="{{assets}}/js/holder.js/72x72" alt="Generic placeholder image" src="data:image/png;base64,">
  </a>
  <div class="post-body">
    <a href="#"><h3 class="post-heading">Post heading</h3></a>
  </div>
  <div class="post-footer">
    <a class="text-muted" href="#">Read more</a>
  </div>
</article>

<!-- Post -->
<article class="post post-item">
  <a class="pull-right" href="#">
    <img class="post-object" data-src="{{assets}}/js/holder.js/72x72" alt="Generic placeholder image" src="data:image/png;base64,">
  </a>
  <div class="post-body">
    <a href="#"><h3 class="post-heading">Post heading</h3></a>
  </div>
  <div class="post-footer">
    <a class="text-muted" href="#">Read more</a>
  </div>
</article>

<!-- Post -->
<article class="post post-item">
  <a class="pull-right" href="#">
    <img class="post-object" data-src="{{assets}}/js/holder.js/72x72" alt="Generic placeholder image" src="data:image/png;base64,">
  </a>
  <div class="post-body">
    <a href="#"><h3 class="post-heading">Post heading</h3></a>
  </div>
  <div class="post-footer">
    <a class="text-muted" href="#">Read more</a>
  </div>
</article>
